@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "inter";
  color: #243e63;
}

html, body {
  overflow-x: hidden;
}

.row {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

#landing {
  padding: 0 32px;
}

.purple {
  color: #6415ff;
}

.container {
  padding: 96px 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1 {
  font-size: 48px;
  color: #1a202c;
  line-height: 1.25;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

section {
  padding: 0 32px;
}

.btn {
  background-color: #6415ff;
  color: #f7fafc;
  padding: 12px 32px;
  border-radius: 500px;
  border: none;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}

/* NAV */

nav {
  padding-top: 32px;
}
.nav__row {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  display: flex;
  align-items: center;
  margin: 8px 0;
  padding: 4px;
}

.nav__logo--img {
  height: 40px;
  width: 40px;
}

.nav__logo--title {
  font-size: 24px;
  font-weight: 900;
  margin-left: 12px;
  letter-spacing: 0.6px;
  padding-bottom: 2px;
}

.nav__links {
  display: flex;
  align-items: center;
}

.nav__link {
  font-size: 14px;
  font-weight: 600;
  padding-top: 4px;
  letter-spacing: 0.35px;
  border-bottom: 2px solid transparent;
  margin: 0 24px;
}

.login {
  margin-left: 48px;
}

.nav__link--primary {
  background: #6415ff;
  color: #fff;
  border-radius: 9999px;
  padding: 10px 32px;
  position: relative;
  border: none;
  line-height: 1.5;
  width: auto;
  margin: 0;
  margin-top: 2px;
}

/* HEADER */

header .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__description {
  display: flex;
  flex-direction: column;
  width: 41.6667%;
}

.header__description--para {
  margin: 32px 0;
}

.header__img {
  width: 100%;
  max-width: 512px;
}

.header__img--wrapper {
  width: calc(100% - 41.6667%);
  display: flex;
  justify-content: flex-end;
}

.header__email {
  width: 100%;
  max-width: 448px;
  height: 68px;
  display: flex;
  position: relative;
  justify-content: flex-end;
  align-items: center;
}

.header__email--input {
  width: 100%;
  border-radius: 500px;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  font-weight: 500;
  font-size: 16px;
  color: rgb(229, 231, 235);
  border: 2px solid rgb(229, 231, 235);
  padding: 20px 192px 20px 32px;
  transition: all 300ms ease;
}

.header__email--input:hover {
  border-color: rgba(160, 174, 192);
}

.header__email--btn {
  z-index: 2;
  height: calc(100% - 16px);
  border-radius: 500px;
  width: 160px;
  margin: 8px;
  color: #fff;
  background-color: #6415ff;
  font-size: 16px;
  font-weight: 700;
  border: none;
}

.header__customers--title {
  margin: 80px 0 0;
  font-size: 12px;
  color: #a0aec0;
  font-weight: 700;
  letter-spacing: 0.6px;
}

.header__customers {
  margin: 16px 0 0;
  padding: 0 128px 0 0;
  opacity: 0.5;
}

/* FEATURES */

#features .row__narrow {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.row__narrow {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

.section__tag {
  color: #6415ff;
  font-size: 16px;
  letter-spacing: 1.6px;
  font-weight: 700;
  text-transform: uppercase;
}

.section__title {
  font-size: 48px;
  font-weight: 900;
  letter-spacing: 1.6px;
  margin: 16px 0;
}

#features .section__para {
  text-align: center;
  max-width: 576px;
}

.section__para {
  font-size: 18px;
  color: #7c8ba1;
  line-height: 1.625;
  font-weight: 500;
}

.features {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
}

.feature {
  width: calc(100% / 3);
}

.feature__row {
  padding: 32px 24px;
  display: flex;
  flex: flex-start;
}

.feature__img--wrapper {
  padding: 20px;
}

.feature__text {
  display: flex;
  flex-direction: column;
  flex: flex-start;
  margin: 8px 0 0 16px;
}

.feature__para {
  color: #7c8ba1;
  font-size: 16px;
  margin: 16px 0 0;
  line-height: 2;
  font-weight: 500;
  max-width: 320px;
}

.feature__img--wrapper {
  border: 1px solid #e5e7eb;
  display: flex;
  padding: 20px;
  border-radius: 500px;
  width: 64px;
  height: 64px;
}

.feature__img {
  width: 24px;
  height: 24px;
}

/* CREDIBILITY */

#credibility .row {
  display: flex;
  align-items: center;
  height: 626px;
}

.credibility__text {
  width: 50%;
  padding: 32px 0;
  margin-right: 64px;
}

.credibility__img--wrapper {
  width: 50%;
}

.credibility__img {
  width: 100%;
  border: 1px solid #e5e7eb;
}

.credibility__btn {
  margin-top: 32px;
  background-color: #6415ff;
  color: #f7fafc;
  padding: 12px 32px;
  border-radius: 500px;
  border: none;
  font-size: 14px;
  font-weight: 700;
}

/* STEPS */

#steps .row {
  display: flex;
  margin: 0 auto;
  align-items: center;
}

.steps__description {
  width: 50%;
  margin-left: 64px;
  display: flex;
  flex-direction: column;
  padding: 32px 0;
  margin-right: -64px;
}

.steps__img--wrapper {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.steps__img {
  width: 100%;
  height: auto;
  max-height: 600px;
}

.step {
  margin: 32px 0 0;
  display: flex;
}

.step__number {
  font-size: 36px;
  font-weight: 600;
  color: #cbd5e0;
}

.step__contents {
  margin-left: 24px;
  max-width: 20rem;
}

.step__title {
  font-size: 20px;
}

.step__para {
  color: #718096;
  margin-top: 12px;
  line-height: 2;
  font-size: 14px;
}

/* VALUES */

#values .row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.values__img--wrapper {
  width: 50%;
}

.values__img--main {
  width: 100%;
}

.values__description {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 32px 64px 32px 0;
}

.values__para {
  margin-top: 32px;
}

.values__features {
  display: flex;
}

.values__feature--title {
  font-size: 20px;
  font-weight: 700;
  margin-left: 12px;
}

.values__feature--heading {
  display: flex;
  align-items: center;
}

.values__feature {
  margin: 32px 32px 0 0;
}

.feature__small-img--wrapper {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.img__briefcase {
  background-color: #feb2b2;
  border-radius: 50%;
  color: rgb(155 44 44);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img__dollar {
  background-color: #9ae6b4;
  color: rgb(39 103 73);
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#values i {
  padding: 8px;
}

.values__feature--para {
  margin-top: 16px;
  color: #718096;
  font-size: 16px;
}

#values .btn {
  margin-top: 48px;
  max-width: 141.69px;
}

/* PRICING */

#pricing .row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.plans {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.plan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 64px 32px 0 0;
  width: 100%;
  max-width: 24rem;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  border-radius: 8px;
}

.plan__name {
  font-size: 20px;
  color: #1a202c;
  font-weight: bold;
}

.plan__price {
  font-size: 48px;
  margin: 4px 0;
  color: #1a202c;
  font-weight: bold;
}

.plan__duration {
  color: #a0aec0;
  font-weight: bold;
}

.plan__top,
.plan__middle,
.plan__bottom {
    width: 100%;
}

.plan__top {
  padding: 32px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1.625;
}

.plan__middle {
  padding: 32px;
  display: flex;
  flex-direction: column;
}

.plan__target {
  color: #1a202c;
  font-size: 20px;
  font-weight: bold;
}

.plan__feature {
  margin-top: 20px;
  color: #718096;
}

.plan__bottom {
  padding: 32px 102px;
}

.plan__button {
  padding: 12px 32px;
  border-radius: 9999px;
  border: none;
  font-size: 14px;
  font-weight: 700;
  width: 100%;
  letter-spacing: 0.7px;
}

.plan__stripe {
  position: absolute;
  height: 8px;
  top: 0;
  right: 0;
  left: 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.plan:nth-child(1) .plan__stripe,
.plan:nth-child(1) .plan__button {
  color: #f7fafc;
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
}

.plan:nth-child(3) .plan__stripe,
.plan:nth-child(3) .plan__button {
  color: #f7fafc;
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
}

.plan:nth-child(2) {
  background: linear-gradient(
    135deg,
    rgb(76, 81, 191) 0%,
    rgb(102, 126, 234) 100%
  );
}

.plan:nth-child(2) .plan__name,
.plan:nth-child(2) .plan__price,
.plan:nth-child(2) .plan__duration,
.plan:nth-child(2) .plan__target,
.plan:nth-child(2) .plan__feature {
  color: #f7fafc;
}

.plan:nth-child(1) .plan__middle,
.plan:nth-child(3) .plan__middle {
  border-top: 2px solid rgb(229, 231, 235);
  border-bottom: 2px solid rgb(229, 231, 235);
}

.plan:nth-child(2) .plan__middle {
    border-top: 2px solid rgb(102, 126, 234);
    border-bottom: 2px solid rgb(102, 126, 234);
}

.plan:nth-child(2) .plan__button {
    color: #6415ff;
}

/* TESTIMONIALS */

#testimonials .row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
}

.testimonials__img {
    width: 50%;
}

.testimonials__description {
    width: 50%;
    padding-left: 64px;
}

.testimonial {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

.testimonial__profile {
    display: flex;
    align-items: center;
}

.testimonial__img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.testimonial__details {
    margin-left: 24px;
}

.testimonial__para {
    margin: 16px 0 32px;
    font-weight: 500;
    line-height: 1.625;
    font-size: 16px;
    color: rgb(74 85 104);
}

.testimonial__title {
    margin-top: 16px;
    color: #4a5568;
    line-height: 1.625;
    font-size: 1.25rem;
    font-weight: 700;
}

.testimonial__rating {
    margin: 4px 2px 0 0;
}

.testimonial__star {
    color: #f6ad55;
}

.testimonial__name {
    color: #4a5568;
    line-height: 1.625;
    font-size: 1.25rem;
    font-weight: 700;
}

.testimonial__role {
    color: #7c8ba1;
    font-weight: 500;
    line-height: 1.5;
}

.testimonial__bottom {
    display: flex;
    justify-content: space-between;
}

.testimonial__buttons {
    display: flex;
    align-items: center;
}

.testimonial__button {
    border-radius: 50%;
    background: #edf2f7;
    padding: 16px;
    border: none;
    margin: 0 12px;
    justify-content: center;
    align-items: center;
}

.testimonial__button i {
    width: 16px;
    height: 16px;
    color: #6415ff;
}

.divider {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    border-right-width: 1px;
    width: 0.5px;
    background-color: #edf2f7;
    height: 20px
}

/* START */

.start__container {
    background-color: rgb(100, 21, 255);
    width: 100%;
    border-radius: 8px;
    padding: 96px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.start__row {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    max-width: 1024px;
    width: 100%;
    padding: 0 32px;
}

.start__title {
    color: #f7fafc;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.5;
    z-index: 2;
}

.start__button {
    padding: 20px 40px;
    border-radius: 500px;
    border: none;
    color: #f7fafc;
    line-height: 1.5;
    z-index: 2;
    margin: 1px;
    font-size: 16px;
    font-weight: 700;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.start__button:nth-child(1) {
    background: #f56565;
    margin-right: 32px;
}

.start__button:nth-child(2) {
    border: 1px solid rgb(160, 174, 192);
    transition: all 300ms ease;
    background-color: transparent;
}

.start__title,
.start__buttons {
    width: 50%;
}

.start__buttons {
    display: flex;
    justify-content: flex-end;
}

/* FOOTER */

footer {
    background: #6416ff;
    padding: 96px 32px;
    margin: 0 0 -32px;
    overflow: hidden;
}

.footer__columns {
    display: flex;
    justify-content: space-between;
}

.footer__column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.footer__column--title {
    color: #f7fafc;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.footer__column--link {
    color: #f7fafc;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 500;
    position: relative;
    cursor: pointer;
    margin-top: 12px;
}

.footer__column--link:nth-child(2) {
    margin-top: 24px;
}

.footer__divider {
    width: 100%;
    height: 2px;
    margin: 64px 0;
    background: rgb(116, 44, 255);
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__logo {
    display: flex;
    align-items: center;
}

.footer__logo--img {
    height: 32px;
    width: 32px;
}

.footer__logo--text {
    font-weight: 900;
    color: #f7fafc;
    margin-left: 8px;
    letter-spacing: 0.05em;
    font-size: 20px;
}

.footer__copyright {
    color: #cbd5e0;
    font-weight: 500;
}

.footer__socials {
    display: flex;
    align-items: center;
    margin-left: -16px;
}

.footer__social--link {
    background: #f7fafc;
    padding: 8px;
    border-radius: 50%;
    margin-left: 16px;
    display: flex;
    justify-content: center;
    width: 32px;
    height: 32px;
}

/* responsiveness */

@media (max-width: 1024px) {

    .btn__menu {
        display: block;
    }
    header .row {
        flex-direction: column;
        align-items: center;
    }
    footer {
        padding: 80px 32px;
    }
}

@media(max-width: 768px) {
    #quality .row,
    #values .row {
        flex-direction: column-reverse;
    }
    #steps .row,
    #testimonials .row {
        flex-direction: column;
        align-items: center;
    }
    #pricing .row {
        margin-top: 40px;
    }
}

@media(max-width: 640px) {
    .container {
        padding: 80px 0;
    }
    .nav__logo {
        margin: 8px 0;
        padding-bottom: 4px;
    }
    main {
        margin-bottom: 80px;
    }
}